<h1>Breweries</h1>

<table id="brewerytable">
  <tr>
    <th> <a href="#" id="brewname">Name</a> </th>
    <th> <a href="#" id="brewyear">Year</a> </th>
    <th> <a href="#" id="brewbeers">#Beers</a> </th>
  </tr>

</table>