<h2>Beers</h2>

<table id="beertable">
  <tr>
    <th> <a href="#" id="bname">Name</a> </th>
    <th> <a href="#" id="bstyle">Style</a> </th>
    <th> <a href="#" id="bbrewery">Brewery</a> </th>
  </tr>

</table>